{% extends 'base.html' %}
{% block title %}Post Details{% endblock %}
{% block content %}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=2028849664104473&autoLogAppEvents=1"></script>
    <div class="container">
        <div class="row p-1 text-center">
            <div class="card  mb-3 mt-3 mx-auto" style="width: 55rem;">
                <div class="card-header">
                    <h2> {{ post.title }} </h2>
                </div>
                <div class="card-body text-left">
                    <h1 class="text-center"><img src="{{ post.image.url }}" class="img-fluid"/></h1>
                    <h5>Posted by {{ post.author.username }}, on {{ post.date }}</h5><hr>
                    <p>{{ post.body | safe }}</p>
                    <!-- fb comment -->
                    <!-- <div class="fb-comments m-5" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div> -->
                    <div id="disqus_thread"></div>
                </div>  
            </div>    
        </div>    
    </div>
<script>
/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

{% comment %} var disqus_config = function () {
this.page.url = "http://127.0.0.1:8000/";  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
}; {% endcomment %}

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://http-127-0-0-1-8000-krzcbzesgz.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<script id="dsq-count-scr" src="//http-127-0-0-1-8000-krzcbzesgz.disqus.com/count.js" async></script>  
{% endblock %}


