{% extends 'base.html' %}
{% block title %}Green City | Post{% endblock %}
{% block content %}
    <div class="container">
        <div class="row p-1 text-center">
            <div class="card  mb-3 mt-3 mx-auto" style="width: 55rem;">
                <div class="card-header">
                    <h2> Posts </h2>
                </div>
                <div class="card-body text-left">
                    {% for post in posts %}
                        <a href="{{post.id}}" class="nav-link">
                            <h5  class="text-dark"> {{post.title}} <br> </h5>
                            <img src="{{post.image.url}}" alt="post picture" style="width:30%; height:auto;"> <br>
                        </a> 
                        <p class="text-muted">
                            by {{post.author}}, on 
                            {{post.date}}
                            {{post.summary | safe}}
                        </p><hr>
                    {% endfor %}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-end">
                            {% if posts.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                                <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
                            {% endif %}
                            {% for page in posts.paginator.page_range %}
                                <li {% if page == posts.number %} class="page-item disabled" {% else %} class="page-item" {% endif %}><a class="page-link" href="?page={{page}}">{{page}}</a></li>
                            {% endfor %}
                            {% if posts.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">&raquo;</a></li>
                                <li class="page-item"><a class="page-link" href="?page={{ posts.paginator.num_pages }}">Last</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>  
            </div>    
        </div>    
    </div>    
{% endblock %}